.contactName {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
}

.contactNumber {
  font-weight: 500;
  margin-left: auto;
  margin-right: 20px;
  color: var(--text-color);
}

.contactImg {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.deletBtn {
  border: 2px solid var(--accent-color);
  border-radius: 18px;

  color: var(--accent-color);
  background-color: inherit;
  box-shadow: var(--shadow);

  transition: background-color 250ms var(--animation-function),
    color 250ms var(--animation-function) 150ms;
}

.deletBtn:hover,
.deletBtn:focus {
  background-color: var(--accent-color);
  color: var(--bg-white);
}

.btnDeleteIcon {
  text-align: center;
}
