.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 20px auto;
}

.login__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.login__label {
  margin-bottom: 15px;
  color: var(--title-text-color);
}

.login__label:focus,
.login__label:hover {
  color: var(--accent-color);
}

.login__span {
  display: block;
  margin-bottom: 6px;
  text-align: left;
  font-size: 16px;
  line-height: 1.16;
  color: var(--text-color);
}

.login__input {
  width: 500px;
  padding-top: 11px;
  padding-left: 22px;
  padding-bottom: 11px;

  background-color: inherit;
  border: 2px solid var(--border-input-color);
  border-radius: 18px;

  transition: border 250ms var(--animation-function);
}

.login__input:focus,
.login__input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.login__btn {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  border: 2px solid var(--accent-color);
  border-radius: 18px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  color: var(--bg-white);
  background-color: var(--accent-color);
  box-shadow: var(--shadow);

  cursor: pointer;
  transition: background-color 250ms var(--animation-function),
    color 250ms var(--animation-function) 150ms;
}
.login__btn:hover,
.login__btn:focus {
  background-color: inherit;
  color: var(--accent-color);
}

.title__section {
  text-align: center;
    margin-bottom: 20px;
  
    font-size: 32px;
    line-height: 0.9;
    color: var(--text-color);
  }
  
  .login__text {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 8px;
    color: var(--text-color);
  }