.filterLabel {
  display: flex;
  font-weight: 500;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: left;
  font-size: 16px;
  line-height: 1.16;
}

.filterInput {
  width: 400px;
  padding-top: 10px;
  padding-left: 22px;
  padding-bottom: 10px;

  background: inherit;
  border: 2px solid var(--border-input-color);
  border-radius: 18px;
  box-shadow: var(--shadow);
}

.filterInput:hover,
.filterInput:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: var(--shadow);
}

.filterText {
  display: block;
  margin-bottom: 10px;
  margin-left: 8px;
  color: var(--text-color);
}
.titleSection {
  margin-left: 8px;
  margin-bottom: 20px;

  font-size: 32px;
  line-height: 0.9;
  color: var(--text-color);
}
