.formBox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20px;
}

.label {
  display: flex;
  font-weight: 500;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
  font-size: 16px;
  line-height: 1.16;
}
.labelText {
  display: block;
  margin-bottom: 9px;
  margin-left: 8px;
  color: var(--text-color);
}
.input {
  width: 400px;
  padding-top: 11px;
  padding-left: 22px;
  padding-bottom: 11px;

  background-color: inherit;
  border: 2px solid var(--border-input-color);
  border-radius: 18px;
  box-shadow: var(--shadow);
  /* text-align: left;
  color: rgba(109, 108, 108, 0.8); */
}

.input:hover,
.input:focus {
  outline: none;
  border-color: var(--border-input-color);
  box-shadow: var(--shadow);
}

.btnAdd {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  border: 2px solid var(--accent-color);
  border-radius: 18px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  color: var(--bg-white);
  background-color: var(--accent-color);
  box-shadow: var(--shadow);

  transition: background-color 250ms var(--animation-function),
    color 250ms var(--animation-function) 150ms;
}

.btnAddIcon {
  margin-right: 8px;
}

.btnAddText {
  text-align: center;
}

.btnAdd:hover,
.btnAdd:focus {
  background-color: inherit;
  color: var(--accent-color);
}

.form__title {
  margin-left: 8px;
  margin-bottom: 20px;

  font-size: 32px;
  line-height: 0.9;
  color: var(--text-color);
}
