.contactList {
  display: block;
  margin-bottom: 20px;
  width: 400px;
  padding: 15px;
}

.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
